.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem;
  min-height: 100vh;
  background: linear-gradient(to bottom,
      rgb(223, 239, 222),
      rgba(135, 198, 135, 0.5));
}

.logo {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.avatardiv {
  align-items: center;
  width: 100vw;
  height: max-content;
  align-content: center;
  /* background: linear-gradient(to bottom,
      rgb(31, 151, 37),
      rgb(11, 104, 11)); */
  background: var(--content-color-dark);
  padding: 1.0rem;
  z-index: 2;
}

.avatar {
  align-items: center;
  width: 70%;
  max-width: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.0);
  transition: transform 0.2s ease;
}

.avatar:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.previewgrid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 2rem;
  z-index: 1;
}

@media (width < 900px) {
  .previewgrid {
    display: flexbox;
    grid-template-columns: repeat(1, 1fr);
    padding: 0rem 0rem 0rem 0rem;
  }
}

.preview {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: center;
  border-radius: 3%;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6);
  transform: scale(1.0);
  transition: transform 0.2s ease;
}

.preview:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.title {
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 0rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 3.0rem;
  user-select: none;
}

@media (width < 900px) {
  .title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.titleicon {
  position: absolute;
  top: 0.85rem;
  right: 1rem;
  width: 100%;
  max-width: 50px;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.0);
  transition: transform 0.2s ease;
  margin-right: 1rem;
}

.titleicon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.titleauthor {
  position: absolute;
  top: 1rem;
  right: 6.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 3.0rem;
  user-select: none;
}

@media (width < 900px) {
  .titleicon {
    top: 1.8rem;
  }
}

@media (width < 900px) {
  .titleauthor {
    top: 3.0rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.hamburger {
  color: #ffffff;
  transition: transform 0.2s ease;
}

.hamburger:hover {
  color: var(--content-color-dark);
  transition: transform 0.2s ease;
}

.titlemenu {
  position: absolute;
  top: 0.9rem;
  left: 1.8rem;
  font-size: 1.2rem;
  margin-bottom: 0rem;
  text-align: center;
  color: var(--content-color-light);
  letter-spacing: 1px;
  line-height: 3.0rem;
  user-select: none;
}

@media (width < 900px) {
  .titlemenu {
    top: 1.8rem;
  }
}

.titledrop {
  position: sticky;
  top: 0;
  width: 100vw;
  height: max-content;
  align-items: center;
  align-content: center;
  /* background: linear-gradient(to bottom,
      rgb(31, 151, 37),
      rgb(11, 104, 11)); */
  background: var(--content-color-dark);
  padding: 1.0rem;
  z-index: 2;
}

.body {
  display: flex;
  margin-bottom: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.pointpanel {
  display: flex;
  max-width: 80%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 13rem;
  border-radius: 5%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #e1f9e7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.0);
  transition: transform 0.2s ease;
}

.pointpanel:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

@media (width < 1000px) {
  .pointpanel {
    max-width: 75%;
  }
}

.heading {
  font-size: 3.0rem;
  font-weight: 700;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-align: center;
  color: var(--content-color-light);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 3.0rem;
  user-select: none;
}

@media (width < 900px) {
  .heading {
    font-size: 2.0rem;
  }
}

.headingdiv {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-color: var(--content-color-dark);
}

.hooktext {
  font-size: 2.6rem;
  font-weight: 500;
  max-width: var(--body-width);
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  color: var(--content-color-light);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 3.0rem;
  user-select: none;
}

.description {
  text-align: center;
  font-size: 1.3rem;
  max-width: var(--description-width);
  width: 100%;
  z-index: 1;
}

.buttongrid {
  width: 80%;
  max-width: 200;
  margin-top: 3rem;
  margin-bottom: 0rem;
  gap: 10%;
}

@media (width < 900px) {
  .buttongrid {
    width: 350px;
    margin-top: 3rem;
    margin-bottom: 0rem;
    gap: 8%;
  }
}

.graphgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (width < 900px) {
  .graphgrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.graphcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.graphtext {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.15rem;
  width: 100%;
  z-index: 1;
}

.graph {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10%;
  /* box-shadow: 0px 0px 20px #4d4d4d; */
}